
<h3 class="pt-3">このページでは様々な検索ができます</h3>

  <div class="row mt-5">
    <div class="col-md-5">
      <h6>〜<strong>投稿日</strong>または<strong>訪問日</strong>で検索ができます〜</h6>
  
      <%= form_with(url: searches_path, method: :get, local: true) do |f| %>
        <div class="form-group">
          <%= f.label(:search_field, "検索タイプ") %>
          <%= f.select(:search_field, { "投稿日" => "created_at","訪問日" => "visit_day" }, {}, class: "form-control") %>
        </div>
  
        <table class="table">
          <thead>
            <tr>
              <th>開始日</th>
              <th>終了日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <%= f.label(:start_date, "ここから") %>
                  <%= f.date_field(:start_date, class: "form-control") %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label(:end_date, "ここまで") %>
                  <%= f.date_field(:end_date, class: "form-control") %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between">
          <%= f.submit "検索する", class: "btn btn-info mb-2" %>
          <%= button_tag "入力クリア", type: "reset", class: "btn btn-light mb-2" %>
        </div>
      <% end %>
    </div>

  
  <div class="col-sm-7">
    <h6>タグの検索を行うことができます</h6>
    <h6>タグのボタンをクリックすると、そのタグが付与された投稿一覧が表示されます</h6>
    <div class="tag-list">
      <%= form_tag delete_admin_tags_path, method: :delete do %>
        <table class="table">
          <thead>
            <tr>
              <th>タグ名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @tags.group_by(&:name).each_slice(2) do |tags_row| %>
              <tr>
                <% tags_row.each do |tag_name, tags| %>
                  <td><%= link_to tag_name, searches_path(tag_id: tags.first.id), class: "btn btn-primary" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
