  <div class="row">
    <div class=col-10>
      <h4>ログインする</h4>
      <p>ユーザ登録がお済みの方はこちらからログインができます</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com",class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-info mt-2" %>
        </div>
      <% end %>

      <p class="mt-5">ユーザ登録がお済みでない方</p>
      <%= link_to "こちら",new_user_registration_path %> から新規登録を行ってください。

    </div>
  </div>