<%= form_with model: content, local: true, class: "my-form" do |f| %>
  <%= render 'layouts/alerm', obj: content %>
  <div class="form-group">
    <%= f.label :title, "レビュータイトル" %>
    <%= f.text_field :title, class: "form-control form-control-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :text, "投稿内容" %>
    <%= f.text_area :text, class: "form-control form-control-sm", rows: 3 %>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :visit_day, "訪問した日" %>
      <%= f.date_field :visit_day, id: "visit-day-field", class: "form-control form-control-sm" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :name, "タグ(複数登録するには , で区切りましょう)" %>
      <%= f.text_field :name, value: @tag_list, class: "form-control form-control-sm" %>
    </div>
  </div>
  <%= render 'user/contents/spotform', f: f %>
  
  <div class="form-group">
    <%= f.label :review, "レビューをつけるところ（とりあえず値を数値をしている）" %>
    <%= f.number_field :review, class: "form-control form-control-sm" %>
  </div>

  <%= f.submit type, class: "btn btn-primary btn-sm" %>
  <%= link_to "戻る", contents_path, class: "btn btn-secondary btn-sm" %>
<% end %>
