<%= form_with model: content, local: true, class: "my-form" do |f| %>
  <div class="form-group">
    <%= f.label :title, "レビュータイトル" %>
    <%= f.text_field :title, class: "form-control form-control-sm" %>
  </div>
  <div class="form-group">
    <%= f.label :text, "投稿内容" %>
    <%= f.text_area :text, class: "form-control form-control-sm", rows: 3 %>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :visit_day, "訪問した日" %>
      <%= f.date_field :visit_day ,class: "form-control form-control-sm" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :name, "タグ(複数登録するには , で区切りましょう)" %>
      <%= f.text_field :name, value: @tag_list, class: "form-control form-control-sm" %>
    </div>
  </div>
  <%= render 'user/contents/spotform', f: f %>
  
   <!-- newとeditを区別するためのif文  -->
  <% if content.id.nil? %>
    <div class="form-group" id="star">
      <%= f.label :rate %>
      <%= f.hidden_field :rate, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
  <% else %>
    <div class="form-group">
      <%= render "static_rate", content: content %>
    </div>
  <% end %>

  <%= f.submit type, class: "btn btn-primary btn-sm" %>
  <%= link_to "戻る", contents_path, class: "btn btn-secondary btn-sm" %>
<% end %>

<script>
  $(document).on('turbolinks:load', function() {
    let elem = document.querySelector('#post_raty');
    if (elem == null) return;

    elem.innerHTML = ""
    let opt = {  
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'content[rate]',
    };
    raty(elem, opt);
  });
</script>