<div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">レビュー情報</h5>
    </div>
    <div class="card-body">
      <table class="table pr-md">
        <tbody>
           <tr>
            <th>投稿日</th>
            <td><%= @content.created_at.strftime("%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <th>ユーザ名</th>
            <td><%= @content.user.name %></td>
          </tr>
          <tr>
            <th>訪問日</th>
            <% if @content.visit_day.present? %>
              <td><%= @content.visit_day.strftime("%Y年%m月%d日") %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
          <tr>
            <th>タイトル</th>
            <td><%= @content.title %></td>
          </tr>
          <tr>
            <th>タグ一覧</th>
            <td>
              <% @content.tags.each do |tag| %>
                <%= link_to tag.name, searches_path(tag_id: tag.id), class: "badge badge-primary" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>サウナ施設</th>
            <td><%= @content.spot%></td>
          </tr>
          <tr>
            <th>ととのい度</th>
            <td><%= render "user/contents/static_rate", content: content %></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-main">
        <tbody>
          <tr>
            <!--本文を改行込みで表示-->
            <th>本文</th>
            <td><%=safe_join(@content.text.split("\n"),tag(:br))%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>