<div class="d-flex align-items-center mb-3">
  <div class="mr-3">
    <% if params[:id] %>
      <%= image_tag user.get_profile_image, size: '130x130', class: 'rounded-circle' %>
    <% else %>
      <%= image_tag current_user.get_profile_image, size: '130x130', class: 'rounded-circle' %>
    <% end %>
  </div>
  <div>
    <h3 class="mb-0">
      <% if params[:id] %>
        <% user = User.find(params[:id]) %>
        <%= user.name %>
      <% else %>
        <%= current_user.name %>
      <% end %>
    </h3>
    <p class="mb-0">
      <% if params[:id] %>
        <%= user.email %>
      <% else %>
        <%= current_user.email %>
      <% end %>
    </p>
    <% if params[:id] %>
      <% if user.myspot.present? %>
        <p class="mb-0 text-muted">私のホームサウナは</p>
        <p>
          <%= link_to user.myspot, "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(user.myspot)}", target: "_blank" %>
          <span class="mb-0 text-muted" >です</span> 
        </p>
      <% else %>
      <% end %>
    <% else %>
      <% if current_user.myspot.present? %>
        <p class="mb-0 text-muted">私のホームサウナは</p>
        <p>
          <%= link_to current_user.myspot, "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(current_user.myspot)}", target: "_blank" %>
          <span class="mb-0 text-muted" >です</span> 
        </p>
      <% else %>
        <p class="mb-0 text-primary" >
           <%= link_to edit_information_path do %>
             編集画面でホームサウナの登録をしましょう！
           <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<% if current_page?(myshow_path) %>
  <div class="row justify-content-center mt-4"> 
        <%= link_to "プロフィールの編集", edit_information_path, class: "btn btn-primary btn-sm" %>
        <span class="mx-2"></span>
        <%= link_to "パスワードの変更/退会", edit_user_registration_path, class: "btn btn-danger btn-sm" %>
  </div>
<% end %>

<!--パソコンサイズとスマホサイズで表示文字を変更する-->
<div class="text-center">
  <ul class="flex" style="padding-right: 40px;">
    <li class="tab tab-content  is-active">
      <div class="PCSize_mypage">
        <%= t('views.user.users.content_index') %>
      </div>
      <div class="MobileSize_mypage">
        <%= t('views.user.users.mobile_content_index') %>
      </div>
    </li>
    <li class="tab tab-favorite <%= 'is-active' if @active_tab == 'favorite_index' %>">
      <div class="PCSize_mypage">
        <%= t('views.user.users.favorite_index') %>
      </div>
      <div class="MobileSize_mypage">
        <%= t('views.user.users.mobile_favorite_index') %>
      </div>    </li>
    <li class="tab tab-comment">
      <div class="PCSize_mypage">
        <%= t('views.user.users.comment_index') %>
      </div>
      <div class="MobileSize_mypage">
        <%= t('views.user.users.mobile_comment_index') %>
      </div>    </li>
  </ul>
</div>

<div class="panel tab-content_index is-show">
  <% if contents.present? %>
    <%= render 'content_index', contents: contents , remote: true %>
  <% else %>
    <div class="not-index">
      <%= t('views.user.users.no_content_index') %>
    </div>
  <% end %>
</div>
<div class="panel tab-favorite_index">
  <% if favorite_contents.present? %>
    <%= render 'favorite_index' , contents: contents, user: user ,favorite_contents: favorite_contents,remote: true %>
  <% else %>
    <div class="not-index">
      <%= t('views.user.users.no_favarite_index') %>
    </div>
  <% end %>
</div>
<div class="panel tab-comment_index">
  <% if comment_contents.present? %>
    <%= render'comment_index', contents: contents, user: user ,comment_contents: comment_contents, remote: true %>
  <% else %>
    <div class="not-index">
      <%= t('views.user.users.no_comment_index') %>
    </div>
  <% end %>
</div>