<div class="d-flex align-items-center mb-3">
  <div class="mr-3">
    <% if params[:id] %>
      <%= image_tag user.get_profile_image, size: '130x130', class: 'rounded-circle' %>
    <% else %>
      <%= image_tag current_user.get_profile_image, size: '130x130', class: 'rounded-circle' %>
    <% end %>
  </div>
  <div>
    <h3 class="mb-0">
      <% if params[:id] %>
        <% user = User.find(params[:id]) %>
        <%= user.name %>
      <% else %>
        <%= current_user.name %>
      <% end %>
    </h3>
    <p class="mb-0">
      <% if params[:id] %>
        <%= user.email %>
      <% else %>
        <%= current_user.email %>
      <% end %>
    </p>
    <% if params[:id] %>
      <% if user.myspot.present? %>
        <p class="mb-0 text-muted">私のホームサウナは</p>
        <p><%= user.myspot %> <span class="mb-0 text-muted" >です。</span> </p>
      <% else %>
      <% end %>
    <% else %>
      <% if current_user.myspot.present? %>
        <p class="mb-0 text-muted">私のホームサウナは</p>
        <p><%= current_user.myspot %> <span class="mb-0 text-muted" >です。</span> </p>
      <% else %>
        <p class="mb-0 text-primary" >
           <%= link_to edit_information_path do %>
             編集画面でホームサウナの登録をしましょう！
           <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-4">
    <h5>投稿一覧</h5>
    <ul class="list-group">
      <% if params[:id] %>
        <% user.contents.each do |content| %>
          <li class="list-group-item">
            <%= link_to content.title, content_path(content) %>
          </li>
        <% end %>
      <% else %>
        <% current_user.contents.each do |content| %>
          <li class="list-group-item">
            <%= link_to content.title, content_path(content) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div class="col-md-4">
    <h5>いいね一覧</h5>
    <ul class="list-group">
      <% if params[:id] %>
        <% user.favorites.each do |favorite| %>
          <li class="list-group-item">
            <%= link_to favorite.content.title, content_path(favorite.content) %>
          </li>
        <% end %>
      <% else %>
        <% current_user.favorites.each do |favorite| %>
          <li class="list-group-item">
            <%= link_to favorite.content.title, content_path(favorite.content) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div class="col-md-4">
    <h5>コメントした投稿一覧</h5>
    <ul class="list-group">
      <!--重複した投稿を表示しないための配列を定義。[]は空の配列を作成するための表記-->
      <% displayed_content_ids = [] %>
        <% if params[:id] %>
          <% user.comments.each do |comment| %>
          <!--unless displayed_content_ids.include?で重複した投稿を含んでいないものかをチェック-->
            <% unless displayed_content_ids.include?(comment.content.id) %>
              <li class="list-group-item">
                <%= link_to comment.content.title, content_path(comment.content) %>
              </li>
              <!--以下は、表示された投稿をdisplayed_content_ids配列に追加する処理。　<< はRubyの追加する演算子-->
              <% displayed_content_ids << comment.content.id %>
            <% end %>
          <% end %>
        <% else %>
          <% current_user.comments.each do |comment| %>
            <% unless displayed_content_ids.include?(comment.content.id) %>
              <li class="list-group-item">
                <%= link_to comment.content.title, content_path(comment.content) %>
              </li>
              <% displayed_content_ids << comment.content.id %>
            <% end %>
          <% end %>
        <% end %>
    </ul>
  </div>
  
</div>

<%= paginate contents %>
