<div class="row">
  <div class="top col-md-12">
    <div class="top-title">
      日々のサウナを<br>より楽しくしよう
    </div>
    <div class="top-image mx-auto">
      <%= image_tag 'Sauna-bro.png', class: "img-fluid" %>
    </div>
    <a class="belonging" href="https://storyset.com/people">People illustrations by Storyset</a>
  </div>
</div>
<div class="text-center border-dotted border-t-2 border-fitting-pink py-20 mt-5">
  <h1 class=" text-2xl title-font text-gray-900 mb-4">ととの〜るの使い方</h1>
  <div class="text-base leading-relaxed mx-auto text-gray-500 ">
    <h5>ととの〜るはサウナが好きな人のためのサ活（サウナ活動）レビューサイトです。<br>日々の自分自身のサ活をレビューして次回のサウナをより素晴らしいものにしていくことを目的として作成しました。</h5>
  </div>
  <%= render 'layouts/steam' %>
  <div class="flex mt-6 justify-center">
    <div class="w-16 h-1 rounded-full bg-fitting-pink inline-flex"></div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-4 ">
    <div class="mb-6 p-4 flex flex-col text-center items-center">
      <div class="inline-flex items-center justify-center justify-center mb-5 flex-shrink-0">
        <%= image_tag 'Mobile inbox-bro.png', class: "img-fluid" %>
        <a class="sub-belonging" href="https://storyset.com/internet">Internet illustrations by Storyset</a>
      </div>
      <div class="flex-grow">
        <h2 class="font-kaisei text-gray-900 text-lg title-font font-medium mb-3">その1. <br>みんなのサ活を<br>見てみよう</h2>
        <p class="leading-relaxed text-base text-gray-500">　まずはページ下部のゲストログインから投稿しているサ活レビューをみてみよう</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-6 p-4 flex flex-col text-center items-center">
      <div class="inline-flex items-center justify-center mb-5 flex-shrink-0">
        <%= image_tag 'Computer login-bro.png', class: "img-fluid" %>
        <a class="sub-belonging" href="https://storyset.com/user">User illustrations by Storyset</a>
      </div>
      <div class="flex-grow">
        <h2 class="font-kaisei text-gray-900 text-lg title-font font-medium mb-3">その2. <br>ユーザ登録を<br>してみよう</h2>
        <p class="leading-relaxed text-base text-gray-500">　ユーザ名とメールアドレスとパスワードでユーザ登録ができます<br>ユーザ登録すると、「サ活のレビュー」ができるようになります</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-6 p-4 flex flex-col text-center items-center">
      <div class="inline-flex items-center justify-center mb-5 flex-shrink-0">
        <%= image_tag 'Social update-bro.png', class: "img-fluid" %>
        <a class="sub-belonging" href="https://storyset.com/social-media">Social media illustrations by Storyset</a>
      </div>
      <div class="flex-grow">
        <h2 class="font-kaisei text-gray-900 text-lg title-font font-medium mb-3">その3. <br>日々のサ活を<br>レビューしよう</h2>
        <p class="leading-relaxed text-base text-gray-500">　ユーザ登録を済ませたら、フッターの「投稿する」ボタンから自身の<br>サ活をレビューして投稿してみよう<br>投稿時のサウナ施設の入力はAPIを導入しているので予測変換ができます</p>
      </div>
    </div>
  </div>
</div>
<div class="enter-btn text-center pb-5 ">
    <%= link_to "ゲストでログインする", homes_guest_sign_in_path, method: :post,class:"btn btn-outline-secondary md-mr-3" %>
    <%= link_to "新規登録してはじめる", new_user_registration_path,class:"btn btn-outline-secondary md-mr-3" %>
    <%= link_to "ログインしてはじめる", new_user_session_path,class:"btn btn-outline-secondary" %>
</div>
