<footer class="navbar navbar-light fixed-bottom">
  <div class="container">
    <div class="col text-center">
      <ul class="footer-menu list-inline">
        <% unless current_page?(root_path) %>
          <% if user_signed_in? %>
            <li class="list-inline-item">
              <%= link_to myshow_path do %>
                <%= image_tag 'mypage.png' , class:"footer-logo-img" %>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to contents_path do %>
                <%= image_tag 'contents.png' , class:"footer-logo-img" %>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to new_content_path do %>
                <%= image_tag 'create.png' , class:"footer-logo-img" %>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to find_searches_path do %>
                <%= image_tag 'search.png' , class:"footer-logo-img" %>
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="list-inline-item">
              <%= link_to "投稿一覧(ユーザ側)", admin_homes_top_path %>
            </li>
            <li class="list-inline-item">
              <%= link_to "投稿一覧", admin_contents_path %>
            </li>
            <li class="list-inline-item">
              <%= link_to "タグ一覧", admin_tags_path %>
            </li>
            <li class="list-inline-item">
              <%= link_to "ユーザ一覧", admin_users_path %>
            </li>
          <% else %>
            <li class="list-inline-item">
              <%= link_to "新規登録", new_user_registration_path , class: "text-dark" %>
            </li>
            <li class="list-inline-item">
              <%= link_to "ログイン", new_user_session_path , class: "text-dark"%>
            </li>
          <% end %>
        <% else %>
            <div class="text-center text-xs">
              <p style="font-size: 12px;" >© 2023 ととの〜る - Totono~ru - </p>
            </div>
        <% end %>
      </ul>
    </div>
  </div>
</footer>
