<header class="flex items-center justify-between flex-wrap bg-fitting-pink px-2 py-2" >
  <div class="container d-flex justify-content-between align-items-center">
    <div class="flex justify-between items-center">
      <%= link_to root_path do %>
        <%= image_tag 'logo2.png' , class:"logo-img" %>
      <% end %>
    </div>
    <% unless current_page?(root_path) %>
      <% if user_signed_in? %>
        <div class="flex items-center" >
          ようこそ<%= current_user.name %>さん
        </div>
        <div class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete  do %>
            <%= image_tag 'logout.png', class:"logo-img" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    
    <% if admin_signed_in? %>
      <div class="admin_sign-out">
        <p>お疲れ様です！
          <span><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-danger" %> </span>
        </p>
      </div>
    <% end %>
  </div>
</header>
