<!DOCTYPE html>
<html>
  <head>
    <title>ととの〜る ~サウナーが作る日々サ活レビューサイト~</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- マイページのJSの挙動を修正するためのコード -->
    <% unless admin_signed_in? %>
      <% if current_page?(myshow_path) %>
        <meta name="turbolinks-visit-control" content="reload">
      <% else %>
        <% if request.path =~ /\/user\/\d+/ %>
          <meta name="turbolinks-visit-control" content="reload">
        <% else %>
        <% end %>
      <% end %>
    <% end %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div id="body-main">
      <%= render 'layouts/header' %>
      <div class="container" >
        <%= render 'layouts/alert' %>
        <main>
          <%= yield %>
        </main>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
