<!DOCTYPE html>
<html>
  <head>
    <title>ととの〜る'サ活レビューサイト></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert" >
          <%= flash[:notice] %>
        </div>
      <% end %>
      
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert" >
          <%= flash[:alert] %>
        </div>
      <% end %>
      

      
    <%= yield %>
      <footer>
        <%= link_to "ユーザログイン", new_user_session_path %>
        <%= link_to "ユーザ新規登録", new_user_registration_path %>
        <%= link_to "管理者ログイン", new_admin_session_path %>
      </footer>
  </body>
</html>
